<div class="box-wrapper full-height mat-elevation-z5 centered-wrapper">

  <mat-card class="box">

    <mat-card-header>
      <mat-card-title>Reset Password
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="box-form" [formGroup]='formGroup' #dir='ngForm' (submit)='handleSubmit($event, dir, formGroup)'>

        <mat-form-field class="full-width">
          <input matInput required placeholder="Email" type='text' id='email'
                 formControlName='emailField'>
        </mat-form-field>

        <mat-card-actions>
          <button mat-stroked-button color="primary" type='submit' class="btn-block full-width"
                  [disabled]='formGroup.invalid'>Send email
          </button>
        </mat-card-actions>

        <p *ngIf='emailSent' color="primary">Email with reset link sent.</p>

      </form>

    </mat-card-content>
  </mat-card>
</div>
