<div class="box-wrapper full-height centered-wrapper">

  <mat-card class="box">

    <mat-card-header>
      <mat-card-title>Change Password
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="box-form" [formGroup]='formGroup' #dir='ngForm' (submit)='handleSubmit($event, dir, formGroup)'>

        <mat-form-field class="full-width">
          <input matInput required placeholder="Current Password" [type]="hidePass ? 'password' : 'text'" id='pass'
                 formControlName='passField'>

          <mat-icon matSuffix (click)="hidePass = !hidePass">{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput required placeholder="New Password" [type]="hideNew ? 'password' : 'text'" id='new-pass'
                 formControlName='newPassField'>

          <mat-icon matSuffix (click)="hideNew = !hideNew">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput required placeholder="Confirm new password" [type]="hideConfirm ? 'password' : 'text'"
                 id='confirmPass' id='confirmPassword' formControlName='confirmPassField'>

          <mat-icon matSuffix
                    (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-card-actions>
          <button mat-stroked-button color="primary" type='submit' class="btn-block full-width"
                  [disabled]='formGroup.invalid'>Submit
          </button>
        </mat-card-actions>

        <p *ngIf='formGroup.errors?.passwordMatch?.error'
           color="primary">{{ formGroup.errors.passwordMatch.message}}</p>

      </form>

    </mat-card-content>
  </mat-card>
</div>
