<h3 mat-dialog-title class="left-align">Save Note</h3>

<form class="model-form" [formGroup]='modelForm' #modelDir='ngForm' (submit)='modelSubmit($event, modelDir, modelForm)'>

  <mat-form-field appearance="standard" class="full-width">
    <mat-label>Textarea</mat-label>
    <label>
      <textarea matInput required name='content' formControlName='content'></textarea>
    </label>
  </mat-form-field>

  <mat-divider></mat-divider>

  <div class="modal-actions right-align">

    <mat-grid-list cols="2" rowHeight="30px" gutterSize="5px">
      <mat-grid-tile>
        <span *ngIf="insertTimestamp">Created: {{insertTimestamp | date: 'dd.MM.yyyy HH:mm'}}</span><br/>
        <span *ngIf="updateTimestamp">Updated: {{updateTimestamp | date: 'dd.MM.yyyy HH:mm'}}</span>
      </mat-grid-tile>
      <mat-grid-tile>
        <button type="submit" mat-icon-button color="primary"  class='btn btn-default' [disabled]='modelForm.invalid'>
          <mat-icon>check</mat-icon>
        </button>
        <button type="button" mat-icon-button [mat-dialog-close]="false">
          <mat-icon>close</mat-icon>
        </button>
      </mat-grid-tile>
    </mat-grid-list>

  </div>

</form>
