<h3 mat-dialog-title class="left-align">Save Supplier</h3>

<mat-dialog-content>

  <form class="model-form" [formGroup]='modelForm' #modelDir='ngForm'
        (submit)='modelSubmit($event, modelDir, modelForm)'>

    <div class="form-line">
      <mat-form-field appearance="standard" class="w45">
        <mat-label>Title</mat-label>
        <label>
          <input matInput #titleInput maxlength='34' required name='title' formControlName='title'/>
        </label>
        <mat-hint align="end">{{titleInput.value?.length || 0}}/34</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="standard" class="w45">
        <mat-label>Description Name</mat-label>
        <label>
          <input matInput #descriptionInput maxlength='30' required name='description' formControlName='description'/>
        </label>
        <mat-hint align="end">{{descriptionInput.value?.length || 0}}/30</mat-hint>
      </mat-form-field>

    </div>

    <div class="form-line">

      <mat-form-field appearance="standard" class="w45">
        <mat-label>email</mat-label>
        <label>
          <input type="email" matInput placeholder="info@example.com" name='email' formControlName='email'/>
        </label>
      </mat-form-field>

      <mat-form-field appearance="standard" class="w45">
        <mat-label>Phone Number</mat-label>
        <label>
          <input matInput #phoneNumberInput maxlength='30' name='phoneNumber' formControlName='phoneNumber'/>
        </label>
        <mat-hint align="end">{{phoneNumberInput.value?.length || 0}}/30</mat-hint>
      </mat-form-field>

    </div>

    <div class="form-line">

      <mat-form-field appearance="standard" class="w45">
        <mat-label>VAT Number</mat-label>
        <label>
          <input matInput #vatIdInput maxlength='30' name='taxId' formControlName='taxId'/>
        </label>
        <mat-hint align="end">{{vatIdInput.value?.length || 0}}/30</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="standard" class="w45">
        <mat-label>VAT Authority</mat-label>
        <label>
          <input matInput #vatAuthorityInput maxlength='30' name='taxAuthority' formControlName='taxAuthority'/>
        </label>
        <mat-hint align="end">{{vatAuthorityInput.value?.length || 0}}/30</mat-hint>
      </mat-form-field>

    </div>

    <mat-form-field appearance="standard" class="w45">
      <mat-label>Comments</mat-label>
      <label>
        <input matInput #commentsInput maxlength='10' name='comments' formControlName='comments'/>
      </label>
      <mat-hint align="end">{{commentsInput.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <mat-divider></mat-divider>

    <mat-dialog-actions>
      <button type="submit" mat-icon-button color="primary" class='btn btn-default' [disabled]='modelForm.invalid' matTooltip="Save supplier">
        <mat-icon>check</mat-icon>
      </button>
      <button *ngIf="!modelCreation" type="button" mat-icon-button color="warn" (click)="deleteModel()" matTooltip="Delete supplier">
        <em class="material-icons-outlined">delete</em>
      </button>
      <button type="button" mat-icon-button [mat-dialog-close]="false" matTooltip="Close">
        <mat-icon>close</mat-icon>
      </button>
    </mat-dialog-actions>

  </form>

</mat-dialog-content>

