.sidebar-icon {
  color: rgba(0, 0, 0, 0.54);
  display: inline-flex;
  min-width: 56px;
  flex-shrink: 0;
}

.sidebar-text {
  flex: 1 1 auto;
  min-width: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

.sidebar-entry {
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  align-items: center;
  padding: 8px 16px;
  justify-content: flex-start;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-entry h2 {
  width: 100%;
}

.sidebar-entry h2:hover {
  border-radius: 0 24px 24px 0;
  background-color: lightgrey;
  outline: none;
}

.sidebar-entry h2:focus {
  border-radius: 0 24px 24px 0;
  background-color: #feefc3;
  outline: none;
}

.app-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .app-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-drawer-container[fullscreen] {
  top: 64px;
}
